/*reset CSS afin de réinitialiser les données dans les différents navigateurs*/
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

/*import des polices de caractère*/
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/****GENERAL****/

:root {
    --color-primary: #9356DC;
    --color-secondary: #FF79DA;
    --color-tertiary: #99E2D0;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    max-width: 769px;
    box-sizing: border-box;
}

h1
{
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;    
    background-color: white;
}

h2
{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 900;    
}

h3
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

h4
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

img {
    object-fit: cover;
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/***Header***/

header {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;     
}

form {
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
    height: 40px;
    box-shadow: inset 0 0.1em 2px rgba(0, 0, 0, 0.15);
}

.fa-location-dot {
    padding-top: 11px;
}

.placeholder {
    width: 120px;
    height: 30px; 
    align-self: center;
    margin-left: 10px;
    background-color: #EAEAEA;
    border: none;     
}

::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: black;        
}

header h2 {   
    width: 250px; 
    align-self: center;
    text-align: center;
    line-height: 25px;    
    padding-top: 30px;
    padding-bottom: 10px;
}

header p {
    width: 350px;
    height: 45px;
    align-self: center;
    text-align: center;    
}

span {   
    display: flex;    
    width:200px;        
    align-items: center; /*permet de centrer le texte dans la hauteur*/   
    margin-top: 20px;
    margin-bottom: 40px;
}

.explorer {
    width: 220px;
    height: 45px;
    font-size: 16px;
    align-self: center; /*permet de centrer le bloc dans le header*/
    justify-content: center; /*permet de centrer le texte dans la largeur dans le bouton*/
    background: linear-gradient(var(--color-secondary), var(--color-primary));
    border-radius: 30px;      
}

.explorer a {
    color: white;
}

/***NAV***/

nav h2 {
    margin: 15px 0 15px 10px;
}

.choix {   
    display: flex;    
    width: 300px;
    height: 70px;
    color:black;
    align-items: center; /*centre en hauteur*/
    background-color:  #F6F6F6;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
    margin-left: 25px;
}

.ordre {
    width: 20px;
    height: 20px;   
    text-align: center;
    font-size: 10px; 
    color: white;
    border-radius: 100%;
    background-color: var(--color-primary);    
    padding-top: 4px;    
    margin-left: -10px;
    margin-right: 15px;
}

.fa-list-ul, .fa-mobile-screen-button, .fa-store {
   margin-right: 20px;
   color: #7E7E7E;
}

/****MAIN****/

main {
    display: flex;
    flex-direction: column;
    height: 900px;
    align-items: center;
    background-color: #F6F6F6;
    padding-top: 15px;
    margin-top: 15px;    
}

main h2 {
    align-self: flex-start;
    margin-left: 10px;
}

.card {    
    width: 330px;
    height: 180px;
    background-color: white;
    margin-top: 15px;
    border-radius: 20px;
}

.badge {
    position: absolute;
    font-size: 10px;
    color: #008766;
    background: #99E2D0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    padding: 5px 10px 5px 10px;
    margin-top: 14px; 
    margin-left: 250px;       
}

.content {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;    
}

.fa-heart {
    height: 50px;
    font-size: 20px;
    line-height: 35px;
}

/****FOOTER***/

footer {
    background-color: #353535;
    color: white;  
    padding-left: 15px;
}

.titre-footer {
    text-align: left;
    font-size: 18px;    
    background-color: #353535; 
}

footer a {
    color: white;
}

footer li {
    line-height: 24px;    
}

footer i {
    display: flex;
    width: 20px;
    font-size: 11px;
   
}

