nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    
    @include tablet {
        width:80%;
        align-self: center;        
    }

    h2 {
        align-self: flex-start;
        margin: 15px 0 15px 10px;
        
        @include tablet {
          margin-left: 0px;
        }
    }    

    .article-fonctionnement {
        display: flex;
        flex-direction: column;
        width: 90%;
               
        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;

            article {   
                margin-right: 25px;       
                margin-left: 25px;              
            }
        }

        @include desktop {        
            justify-content: space-between;
            flex-wrap: nowrap;
            article {            
                margin-right: 0px;
                margin-left: 10px;
            }
        }    

        article .fa-solid {
            margin-right: 15px;
            color: $color-nav-icone;  
        }
    }

}
