.card-plat {
  display: flex;
  justify-content: space-between;
  align-items: center; /*centre en hauteur*/ 
  width: 95%; /*95%*/
  height: 69px;
  overflow: hidden;
  background-color: white;
  border-style: none;
  border-radius: 15px;   
  padding-left: 5px;
  padding-right: 15px;
  margin-top: 15px;
  cursor: pointer;
  opacity: 0;
  @include box-shadow5;

  animation: plat ease-out 1s 150ms both;
  @for $i from 1 through $num-plat {
      &--#{$i} {
      animation-delay: $anim-delay * $i;      
      }
  }     
  
  &:hover > .tarif {
    transform: translate(-40%, 0);
  }

  &:hover > .plat {
        width: 200px;
  }

  @include tablet {
    &:hover > .plat {
      width: 300px;
      }
  }
}

.card-plat-reverse {
  display: flex;
  justify-content: space-between;
  align-items: center; /*centre en hauteur*/ 
  width: 95%; /*95%*/
  height: 69px;
  overflow: hidden;
  background-color: white; 
  border-style: none;
  border-radius: 15px;  
  padding-left: 5px;
  padding-right: 15px;
  margin-top: 15px;
  cursor: pointer;
  opacity: 0;
  @include box-shadow5;

  animation: plat-reverse ease-out 1s 150ms both;
  @for $i from 1 through $num-plat {
      &--#{$i} {
      animation-delay: $anim-delay * $i;      
      }
  }     
  
  &:hover > .tarif {
    transform: translate(-40%, 0);
  }

  &:hover > .plat {
        width: 200px;
  }

  @include tablet {
    &:hover > .plat {
      width: 300px;
      }
  }
}

.plat {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 5px;
  margin-right: 15px; 
  text-overflow: ellipsis; 
  -o-text-overflow: ellipsis;/*- pour opera*/    
   
  h3, p {
    text-align: left;
    width: 100%;    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    -o-text-overflow: ellipsis;/*- pour opera*/      
  }
}

.tarif {
  display: flex;
  align-items: flex-end;/*pour que le prix soit en bas*/
  justify-content: flex-end;/* pour que le prix soit à droite*/  
  width: 150px; 
  height: 100%;
  background: transparent;
  padding-bottom: 10px;
  margin-right: -77px;   

  transition: transform 250ms ease-in-out;
  transform-origin: right;
  transform: translate(0);   
  
  p {
    font-size: 15px;
    font-weight: 700;
  }
  
  .icone-tarif {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 60px;
    height: 75px;
    background-color: (var(--color-tertiary));   
    padding-right: 10px;
    margin-bottom: -17px;
    margin-left: 15px;/*15*/       

    .fa-check {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      color: (var(--color-tertiary));
      background: white;
      border: 2px solid (var(--color-tertiary));
      border-radius: 100%;      
      }
  }
}
