.card-plat, .card-plat-reverse {
  display: flex;
  align-items: center; /*centre en hauteur*/ 
  width: 95%; /*95%*/
  height: 69px;
  overflow: hidden; /*pour cacher la transition des tarifs*/
  background-color: white;
  border-radius: 15px;   
  padding-left: 5px;
  margin-top: 15px;
  cursor: pointer;
  opacity: 0; /*pour qu'ils ne soient pas visible au moment du chargement de la page*/
  @include box-shadow5;
  
  &:hover > .icone-tarif {
    width: 150px;
    margin-left: -5px;
    // .fa-check {   
    //   transform: rotate(0deg);
    // }
  }
}

.card-plat {

  animation: plat ease-out 1s 150ms both;

  @for $i from 1 through $num-plat {
      &--#{$i} {
      animation-delay: $anim-delay * $i;      
      }
  }     

}

.card-plat-reverse {

  animation: plat-reverse ease-out 1s 150ms both;

  @for $i from 1 through $num-plat {
      &--#{$i} {
      animation-delay: $anim-delay * $i;      
      }
  }     
}

.plat {
  width: 150%;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 5px;
  text-overflow: ellipsis; 
  // -o-text-overflow: ellipsis;/*- pour opera*/    

  h3, p {    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    // -o-text-overflow: ellipsis;/*- pour opera*/      
  }

  p {
    font-size: 15px;
  }
}

.tarif {
  
  display: flex;
  height: 100%;
  background: transparent;
  padding-bottom: 15px;
  margin-right: 25px;
  margin-left: 15px;    
  
  p {
    align-self: flex-end;
    font-size: 15px;
    font-weight: 700;
  }
}
  
.icone-tarif {
  display: flex;
  justify-content: center;
  align-items: center;    
  width: 0px;
  height: 75px;
  background-color: (var(--color-tertiary));   
  margin-right: -16px;
  margin-left: 5px;   

  transition: all 250ms ease-in-out;

  .fa-check {
    width: 20px;
    height: 20px;
    color: (var(--color-tertiary));
    background: white;
    border: 2px solid (var(--color-tertiary));
    border-radius: 100%;      
    margin-right: 12px;

    // transition: transform 1s;
    // transform: rotate(180deg);  
    }
}

